<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'moviepoll/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar bg-dark">
        <a class="navbar-brand" href="{% url 'moviepoll:index'%}" style="color:white">INTEK MOVIEPOLL</a>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-success active" type="button">Create Poll</button>
        </form>
    </nav>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="containter" style="margin-top:5rem">
    <div class="row justify-content-center align-items-center">
            <div class="card card-primary">
                <form action="{% url 'moviepoll:vote' question.id %}" method="post">
                    <h2 class="card-header">{{ question.question_text }}</h2>
                    <div class="card-body ">
                        <ul class="list-group">
                            {% csrf_token %}
                            {% for choice in question.choice_set.all %}
                            <li class="list-group-item">
                                <div class="radio">
                                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                    <label class="form-check-label" for="choice{{ forloop.counter }}" >{{ choice.choice_text }}</label><br>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-footer">
                        <input class="btn btn-primary" type="submit" value="Vote">
                    </div>
                </form>
            </div>
    <div>
    <div>
</body>